<div ng-controller="AliasCtrl">
  <form class="form-inline">
    <div class="form-group">
      <input type="text" ng-model="aliasQuery.$" class="form-control" placeholder="filter alias..."/>
    </div>
    <button class="btn btn-default" ng-click="addAlias()">Add Alias</button>
  </form>
  <promise-loader promise="listPromise" backdrop="true">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Source</th>
        <th>Destination</th>
        <th>operation</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-form="newAliasForm" ng-show="isAddAlias">
        <td class="input-group-td" ng-class="{'has-error': newAliasForm.source.$invalid}">
          <div class="input-group">
            <input type="text" name="source" class="form-control" placeholder="Alias Source" ng-model="newAlias.source" required/>
            <span class="input-group-addon">@{{domain.name}}</span>
          </div>
        </td>
        <td ng-class="{'has-error': newAliasForm.destination.$invalid}">
          <input type="text" name="destination" class="form-control" placeholder="Alias destination" ng-model="newAlias.destination" required/>
        </td>
        <td>
          <button type="button" class="btn btn-primary" ng-click="saveAlias()">Save</button>
          <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </td>
      </tr>
      <tr ng-repeat="alias in aliasList | filter:aliasQuery track by alias.id ">
        <td>{{alias.source}}</td>
        <td>{{alias.destination}}</td>
        <td>
          <a class="text-danger" ng-click="deleteAlias(alias)">
            <i class="fa fa-times-circle"></i>
            DELETE
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </promise-loader>
</div>
