<promise-loader promise="vm.addDomainPromise" backdrop="true" show-error-toast="true" min-height="100%">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">
      <span>&times;</span>
    </button>
    <h4 class="modal-title">{{vm.stepTitle[vm.step]}}</h4>

  </div>
  <div class="modal-body">
    <div ng-switch="vm.step">
      <div ng-switch-when="0">
        <form class="form-horizontal" name="vm.addDomainForm">
          <p>
            Please add your domain (like example.com)
          </p>
          <div class="form-group" ng-class="{'has-error': vm.addDomainForm.domainName.$invalid && vm.addDomainForm.domainName.$dirty}">
            <div class="col-sm-12">
              <input name="domainName" type="text" class="form-control" ng-model="vm.domainName" required ng-pattern="/^[a-zA-Z0-9][-a-zA-Z0-9]{0,62}\.[a-zA-Z0-9][-a-zA-Z0-9]{0,62}$/" ng-model-options="{updateOn: 'blur'}"/>
            </div>
            <div class="col-sm-12">
              <p class="text-danger" ng-show="vm.addDomainForm.domainName.$error.required && vm.addDomainForm.domainName.$dirty">Domain name cannot be empty</p>
              <p class="text-danger" ng-show="vm.addDomainForm.domainName.$error.pattern && vm.addDomainForm.domainName.$dirty">Domain name invalid</p>
            </div>
          </div>
        </form>
      </div>
      <div ng-switch-when="1">
        <div class="row">
          <div class="col-sm-12">
            <p>At your DNS provider, Add the following DNS record</p>
            <table class="table">
              <thead>
              <tr>
                <th>Type</th>
                <th>Host</th>
                <th>Answer</th>
                <th>TTL</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="server in vm.serverList track by $index">
                <td>MX</td>
                <td>{{vm.domainName}}</td>
                <td>{{server.domain_name}}</td>
                <td>300</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div ng-switch-when="2">
        <div class="row">
          <div class="col-sm-12">
            <p>To Prevent your email identified as spam by other receiver, Your should add spf record at your DNS provider, Add the following DNS record to apply spf record.</p>
            <table class="table">
              <thead>
              <tr>
                <th>Type</th>
                <th>Host</th>
                <th>Answer</th>
                <th>TTL</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>TXT</td>
                <td>{{vm.domainName}}</td>
                <td>v=spf1 include:_spf.catofes.com ~all</td>
                <td>300</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-hide="vm.step >= 2" ng-click="vm.next()">{{vm.step === 0 ? 'Add Domain': 'Next'}}</button>
    <button class="btn btn-default" ng-click="vm.finish()">{{vm.step === 0 ? 'Cancel' : 'Finish'}}</button>
  </div>
</promise-loader>
