<div class="modal-header">
  <h3 class="modal-title">Are you ABSOLUTELY sure?</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <p ng-bind-html="content"></p>
    <p>
      Please type in the name of the {{confirmText.name}} to confirm
    </p>
    <div class="form-group">
      <div class="col-sm-12">
        <input type="text" class="form-control" ng-model="userConfirmText"/>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" data-ng-disabled="userConfirmText!==confirmText.text" ng-click="$close()">I'm sure to delete</button>
  <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
</div>
