<div class="domain-overview">
  <div class="panel panel-clean panel-shape">
    <div class="panel-body">
      You can config your domain or add users and other settings
    </div>
  </div>
</div>
<div class="domain-config">
  <tabset class="underline-indicator" justified="true">
    <tab heading="User">
      <div ng-include="'app/domain/users/users.html'" ng-controller="UsersCtrl"></div>
    </tab>
    <tab heading="DKIM Settings">
      <div ng-include="'app/domain/dkim/dkim.html'" ng-controller="DkimCtrl"></div>
    </tab>
    <tab heading="BCC Settings" ng-if="level >= 5">
      <div ng-include="'app/domain/bcc/bcc.html'"></div>
    </tab>
    <tab heading="Alias Settings" ng-if="level >= 5">
      <div ng-include="'app/domain/alias/alias.html'"></div>
    </tab>
    <tab heading="Transport Settings" ng-if="level >= 5">
      <div ng-include="'app/domain/transport/transport.html'"></div>
    </tab>
  </tabset>
</div>
