<div ng-controller="TransportCtrl">
  <form class="form-inline">
    <div class="form-group">
      <input type="text" ng-model="transportQuery.source" class="form-control" placeholder="filter transport..."/>
    </div>
    <button class="btn btn-default" ng-click="addTransport()">Add Transport</button>
  </form>
  <div promise-loader="listPromise" backdrop="true">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Source</th>
        <th>Destination</th>
        <th>Selector</th>
        <th>operation</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-form="newTransportForm" ng-show="isAddTransport">
        <td class="input-group-td" ng-class="{'has-error': newTransportForm.source.$invalid}">
          <div class="input-group">
            <input type="text" name="source" class="form-control" placeholder="Transport Source" ng-model="newTransport.source" required ng-pattern="/^[a-z0-9A-Z_][a-z0-9A-Z_.+]{0,60}$/"/>
            <span class="input-group-addon">@{{domain.name}}</span>
          </div>
        </td>
        <td ng-class="{'has-error': newTransportForm.destination.$invalid}">
          <input type="text" name="destination" class="form-control" placeholder="Transport destination" ng-model="newTransport.destination" required/>
        </td>
        <td ng-class="{'has-error': newTransportForm.region.$invalid}">
          <ol class="nya-bs-select" ng-model="newTransport.region" name="region" required>
            <li nya-bs-option="selector in selectorList group by selector.group" value="selector.id">
              <span class="dropdown-header">{{$group}}</span>
              <a>
                {{selector.id}}
                <span class="check-mark fa fa-check"></span>
              </a>
            </li>
          </ol>
        </td>
        <td>
          <button type="button" class="btn btn-primary" ng-click="saveTransport()">Save</button>
          <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </td>
      </tr>
      <tr ng-repeat="transport in transportList | filter:transportQuery track by transport.id ">
        <td>{{transport.source}}</td>
        <td>{{transport.destination}}</td>
        <td>{{transport.region}}</td>
        <td>
          <a class="text-danger" ng-click="deleteTransport(transport)">
            <i class="fa fa-times-circle"></i>
            DELETE
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
