<div ng-include="'app/components/navbar/navbar.html'"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="filter-input-wrapper">
        <input type="text" class="form-control" ng-model="domainQuery.name" placeholder="filter domain..."/>
      </div>
      <promise-loader promise="domainsPromise" backdrop="true">
        <ul class="nav domain-list">
          <li ng-repeat="domain in domains | filter:domainQuery track by domain.id">
            <a ui-sref="home.domain.user({id: domain.id})">
              {{domain.name}}
            </a>
          </li>
          <li>
            <a ng-click="addDomain()">
              Add a domain
            </a>
          </li>
        </ul>
      </promise-loader>
    </div>
  </div>
  <div class="row">
    <ui-view>
    </ui-view>
  </div>
</div>
