<div class="content-container clearfix">
  <div class="sidebar-nav">
    <div class="sidebar-header">
      <header class="sidebar-brand">
        <a href="/">
          萌えInbox
        </a>
      </header>
      <div class="user-info clearfix">
        <i class="user-avatar fa fa-user"></i>
        <span class="username-holder">
          {{username}}
        </span>
        <a ng-click="logout()" class="pull-right user-action">
          <i class="fa fa-sign-out"></i>
        </a>
        <a ui-sref="home.account" class="pull-right user-action">
          <i class="fa fa-gear"></i>
        </a>
      </div>
    </div>
    <div class="sidebar-nav-wrapper">
      <div class="sidebar-nav-menu">
        <promise-loader promise="domainsPromise" backdrop="true" min-height="100%">
          <ul class="nav domain-list">
            <li ng-repeat="domain in domains | filter:domainQuery track by domain.id" ui-sref-active="active">
              <a ui-sref="home.domain({id: domain.id})">
                {{domain.name}}
              </a>
            </li>
          </ul>
        </promise-loader>
      </div>
      <div class="menu-title">
        My Domains
      </div>
    </div>
    <footer class="sidebar-footer clearfix">
      <div class="filter-input-wrapper">
        <input type="text" ng-model="domainQuery.name" placeholder="filter domain..."/>
      </div>
      <div class="add-domain-wrapper">
        <a ng-click="addDomain()" class="add-domain-button">
          <i class="fa fa-plus"></i>
          <span>Add Domain</span>
        </a>
      </div>
    </footer>
  </div>
  <div class="main-view-wrapper">
    <div class="main-view" ui-view=""></div>
    <header class="view-actionbar">
      <div class="actionbar-title">
        <h3>{{actionBarTitle}}</h3>
      </div>
    </header>
    <footer class="footer">
      <span>&copy;</span>
      <span class="copyright-date">{{currentYear}}</span>
      <span class="company-name">Box.moe</span>
    </footer>
  </div>
</div>
