
.promise-loader {
  position: relative;
  width: 100%;
  height: 100%;
  .loader-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    &.show-backdrop {
      background-color: rgba(255, 255, 255, 0.5);
    }
    .loader {
      position: absolute;
      margin: auto;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      height: 20px;
    }
  }

  .error-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;

    .error-toast {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      padding: 4px 8px;
      border: 1px solid #ebccd1;
      border-radius: 4px;
      background-color: #f2dede;
      box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.25);
      cursor: pointer;
    }

    .error-text {
      color: #a94442;
    }
  }
}
