
.promise-loader {
  position: relative;
  width: 100%;

  .loader-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    &.show-backdrop {
      background-color: rgba(255, 255, 255, 0.5);
    }
    .loader {
      position: absolute;
      margin: auto;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      height: 20px;
    }
  }
}
