<div ng-controller="BccCtrl">

  <form class="form-inline">
    <div class="form-group">
      <input type="text" ng-model="bccQuery.$" class="form-control" placeholder="filter BCC..."/>
    </div>
    <button class="btn btn-default" ng-click="AddBCC()">Add BCC</button>
  </form>
  <div promise-loader="listPromise" backdrop="true">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Source</th>
        <th>Destination</th>
        <th>Selector</th>
        <th>operation</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-form="newBCCForm" ng-show="isAddBCC">
        <td class="input-group-td" ng-class="{'has-error': newBCCForm.source.$invalid}">
          <div class="input-group">
            <input type="text" name="source" class="form-control" placeholder="BCC Source" ng-model="newBCC.source" ng-pattern="/^[a-z0-9A-Z_][a-z0-9A-Z_.+]{0,60}$/"/>
            <span class="input-group-addon">@{{domain.name}}</span>
          </div>
        </td>
        <td ng-class="{'has-error': newBCCForm.destination.$invalid}">
          <input type="text" name="destination" class="form-control" placeholder="BCC destination" ng-model="newBCC.destination" required/>
        </td>
        <td ng-class="{'has-error': newBCCForm.region.$invalid}">
          <ol class="nya-bs-select" ng-model="newBCC.region" name="region" required>
            <li nya-bs-option="selector in selectorList group by selector.group" value="selector.id">
              <span class="dropdown-header">{{$group}}</span>
              <a>
                {{selector.id}}
                <span class="check-mark fa fa-check"></span>
              </a>
            </li>
          </ol>
        </td>
        <td>
          <button type="button" class="btn btn-primary" ng-click="saveBCC()">Save</button>
          <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </td>
      </tr>
      <tr ng-repeat="bcc in bccList | filter:bccQuery track by bcc.id ">
        <td>{{bcc.source}}</td>
        <td>{{bcc.destination}}</td>
        <td>{{bcc.region}}</td>
        <td>
          <a class="text-danger" ng-click="deleteBCC(bcc)">
            <i class="fa fa-times-circle"></i>
            DELETE
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
