<promise-loader promise="addUserPromise" min-height="100%" backdrop="true">
  <div class="modal-header">
    <h3 class="modal-title">Add New User</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="addUserForm">
      <p>
        Please add your user (e.g. john@{{domain.name}}) and Password, password should contains at least 8 characters.
      </p>
      <div class="form-group" ng-class="{'has-error': addUserForm.userName.$invalid && addUserForm.userName.$dirty}">
        <div class="col-sm-6">
          <div class="input-group">
            <input type="text" name="userName" class="form-control" ng-model="userName" placeholder="user name" required/>
            <span class="input-group-addon">@{{domain.name}}</span>
          </div>
        </div>
        <div class="sm-6">
          <p class="form-control-static" ng-show="addUserForm.userName.$invalid && addUserForm.userName.$dirty">User name empty</p>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': (addUserForm.password.$error.required || addUserForm.password.$error['pw-complexity']) && addUserForm.password.$dirty }">
        <div class="col-sm-6">
          <input type="password" name="password" class="form-control" ng-model="password" placeholder="Password" ng-password-complexify="30" required/>
        </div>
        <div class="col-sm-5">
          <ng-password-complexify-meter password="password"></ng-password-complexify-meter>
        </div>
      </div>
      <p class="text-danger" ng-show="addUserForm.password.$error['pw-complexity'] && addUserForm.password.$dirty ">Password Not Strong Enough</p>
      <p class="text-danger" ng-show="addUserForm.password.$error.required && addUserForm.password.$dirty ">Password is required</p>
      <p class="help-block">8 characters is a minimum, To make a password strong enough, including uppercase, lowercase and even special characters</p>
      <div class="form-group" ng-class="{'has-error': addUserForm.passwordConfirm.$error.match && addUserForm.passwordConfirm.$dirty }">
        <div class="col-sm-6">
          <input type="password" name="passwordConfirm" class="form-control" ng-model="passwordConfirm" placeholder="Confirm Password" ng-password-complexify="30" match="password" required/>
        </div>
        <div class="col-sm-5">
          <p class="form-control-static text-danger" ng-show="addUserForm.passwordConfirm.$error.match && addUserForm.passwordConfirm.$dirty ">Password not match</p>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="addUser()" ng-disabled="addUserForm.$invalid">Add User</button>
    <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
  </div>
</promise-loader>
