<div class="modal-header">
  <h3 class="modal-title">Add New User</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <p>
      Please add your user (e.g. john@{{domain}}) and Password, password should contains at least 8 characters.
    </p>
    <div class="form-group">
      <div class="col-sm-6">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="userName" placeholder="user name"/>
          <span class="input-group-addon">@{{domain}}</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-6">
        <input type="password" name="password" class="form-control" ng-model="password" placeholder="Password" ng-password-complexify=""/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-6">
        <input type="password" name="passwordConfirm" class="form-control" ng-model="passwordConfirm" placeholder="Confirm Password" ng-password-complexify="" match="password"/>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="addUser()">Add User</button>
  <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
</div>
