<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Change Password</h4>
        <alert type="danger" close="hideAlert = true" ng-hide="hideAlert">{{errorMessage}}</alert>
        <form class="form-horizontal" ng-submit="changePassword()" name="changePasswordForm" autocomplete="off" novalidate>
          <!-- to disable chrome autofills -->
          <input type="text" name="fakeName" style="display: none"/>
          <input type="password" name="fakePass" style="display: none"/>
          <!-- end -->
          <div class="form-group">
            <label for="inviteCode" class="control-label col-lg-2 col-sm-3">Invite Code</label>
            <div class="col-sm-5">
              <input type="text" id="inviteCode" class="form-control" ng-model="pass.inviteCode" required/>
            </div>
          </div>
          <div class="form-group">
            <label for="newPass" class="control-label col-lg-2 col-sm-3">New Password</label>
            <div class="col-sm-5">
              <input type="password" id="newPass" class="form-control" ng-model="pass.password" required/>
            </div>
          </div>
          <div class="form-group">
            <label for="confirmPass" class="control-label col-lg-2 col-sm-3">Confirm Password</label>
            <div class="col-sm-5">
              <input type="password" id="confirmPass" class="form-control" ng-model="pass.confirmPassword" required/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-5 col-lg-offset-2 col-sm-offset-3">
              <button class="btn btn-default" type="submit" data-ng-disabled="changePasswordForm.$invalid">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
